<a href="https://colab.research.google.com/github/Yoonseungwook/lms23/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
a = int(input("정수를 입력하시오 : "))
b = int(input("정수를 입력하시오 : "))

if a>b:
  print(a)
elif a<b:
  print(b)
else:
  print(a+b)

정수를 입력하시오 : 3
정수를 입력하시오 : 3
6

# 예제1

In [ ]:
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self): 
    result = self.first / self.second
    return result

# a = FourCal()
# b = FourCal()
a = FourCal(3,8)
print(a.first)
print(a.second)
print(a.add())
print(a.mul())

3
8
11
24

# Python 기초

## 변수란?
- 어떠한 대응 관계로 변화하는 수(변할 수 있는 값)

## 리스트?
- 숫자 또는 문자의 모음을 표현하고 싶을 때 대괄호([])로 감싸주고 각 요소의 값을 쉼표(,)로 구분해 표현

### 인덱싱
- 리스트의 요소 값을 불러오는 것

In [ ]:
a = [1,2,3]
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0]+ a[2]

4

In [ ]:
a[-1]

3

#### 삼중 인덱싱

In [ ]:
a = [1,2, ['a', 'b', ['Life', 'is']]]

a[2][2][0]

'Life'

### 슬라이싱
- 리스트의 요소를 나누어 표현(?)하는 방식

In [ ]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

#### 중첩된 리스트에서 슬라이싱

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

### 리스트 연산

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
# add
print(a+b)
# mul
print(a*3)
# length
len(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

3

In [ ]:
# 리스트 요소 추가
a.append([4,5])

# 리스트 정렬
c = [1,4,3,2]
c.sort()

# 리스트 뒤집기
d = ['a', 'c', 'b']
d.reverse()
d

# 위치 반환
e = [1,2,3]
print(e.index(3))

print(a)
print(b)
print(c)
print(d)

2
[1, 2, 3, [4, 5], [4, 5]]
[4, 5, 6]
[1, 2, 3, 4]
['b', 'c', 'a']

## 출력

In [ ]:
print("foo", 42, "bar")

print("foo", 42, "bar", sep="/")

print("foo", 42, "bar", sep="...")

print("foo", 42, "bar", sep="")

foo 42 bar
foo/42/bar
foo...42...bar
foo42bar

In [ ]:
print("foo", end="/")
print(42, end="/")
print("bar")

foo/42/bar

### 이스케이프 문자 이해
- 문자 또는 숫자랑 같이 따옴표 안에 표시
- \n : 줄 바꾸기
- \t : 탭
- \enter : 줄 계속
- \\ : \ 기호 표시
- \' 또는 \" : ' 기호 또는 " 기호

### 연습문제

In [ ]:
# 연습문제1
# 변수 num에 65를 대입하고 출력하세요

num = 65
print(num)

65

In [ ]:
# 연습문제2
# 변수 num을 copy_num1, copy_num2에 대입하세요
copy_num1 = num
copy_num2 = num

In [ ]:
# 연습문제3
# 변수 num에 정수 2를 더하고, 변수 res 할당하세요, 그리고 print() 함수로 res 변수의 값을 출력하세요
res = num + 2
print(res)

67

In [ ]:
# 연습문제4
# 65, res, sum 을 출력하세요
sum = num + res
print(65)
print(res)
print(sum)

65
67
132

In [ ]:
# 연습문제5
# num, res, sum 변수를 print() 함수 1개에 한번에 출력하세요
print(num, res, sum)

65 67 132

In [ ]:
# 연습문제6
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting')
print('experience', 'treacherous', 'judgement', 'difficult')

Life is short art long oppertunity fleeting
experience treacherous judgement difficult

In [ ]:
# 6.1 [공백 제거]된 상태로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting', sep="")
print('experience', 'treacherous', 'judgement', 'difficult', sep="")

Lifeisshortartlongoppertunityfleeting
experiencetreacherousjudgementdifficult

In [ ]:
# 6.2 [줄바꿈 없이] 한 줄로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting', end="")
print('experience', 'treacherous', 'judgement', 'difficult', end="")

Life is short art long oppertunity fleetingexperience treacherous judgement difficult

In [ ]:
# 6.3 문장에서 \n을 사용해, 총 5줄로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting')
print('experience\n', 'treacherous\n', 'judgement\n', 'difficult', sep="")

Life is short art long oppertunity fleeting
experience
treacherous
judgement
difficult

## 입력
- input() 함수 사용

In [ ]:
# input() 함수 사용하기

user_input = input()

print("입력 내용: ", user_input)

hello
입력 내용:  hello

In [ ]:
number = int(input("Enter a number: "))

print(number + 100)

Enter a number: 123
223

### 연습문제

In [ ]:
# 문제1
# phone_no 변수에 핸드폰 번호를 입력받아 출력하세요.

# tip
# fname = input("핸드폰 번호를 입력 하세요>> ")

phone_no = input("핸드폰 번호를 입력하세요>> ")
print("핸드폰 번호:", phone_no)

핸드폰 번호를 입력하세요>> 01012345678
핸드폰 번호: 01012345678

In [ ]:
name = input("이름을 입력해주세요. >> ")

print("이름:", name)

이름을 입력해주세요. >> 홍길동
이름: 홍길동

In [ ]:
# 문제2
# 사람의 특징을 변수 10개로 입력받아 출력하세요

# tip
# 이름, 성, 생일, 고향, 전화번호, 혈액형, 키, 몸무게, 국적, mbti, 
# 배고픔 상태, 현재 기분, 최대 체력, 최대 의지, 필요 집중력, 열정 정도
# fname = input("이름을 입력하세요>> ")

first_name = input("이름을 입력하세요>> ")
last_name = input("성을 입력하세요>> ")
birth = input("생일을 입력하세요>> ")
hometown = input("고향을 입력하세요>> ")
phone = input("전화번호를 입력하세요>> ")
blood_type = input("혈액형을 입력하세요>> ")
height = input("키를 입력하세요>> ")
weight = input("몸무게를 입력하세요>> ")
nationality = input("국적을 입력하세요>> ")
mbti = input("mbti를 입력하세요>> ")

print("이름:", first_name)
print("성:", last_name)
print("생일:", birth)
print("고향:", hometown)
print("전화번호:", phone)
print("혈액형:", blood_type)
print("키:", height)
print("몸무게:", weight)
print("국적:", nationality)
print("mbti:", mbti)

이름을 입력하세요>> 길동
성을 입력하세요>> 홍
생일을 입력하세요>> 230602
고향을 입력하세요>> 광주
전화번호를 입력하세요>> 01012345678
혈액형을 입력하세요>> A
키를 입력하세요>> 170
몸무게를 입력하세요>> 70
국적을 입력하세요>> 대한민국
mbti를 입력하세요>> ISFP
이름: 길동
성: 홍
생일: 230602
고향: 광주
전화번호: 01012345678
혈액형: A
키: 170
몸무게: 70
국적: 대한민국
mbti: ISFP

In [ ]:
# 문제3
# 프로그래밍은 "현실의 어떤 대상"을 소스 코드로 구현하는 것이다.
# 주위 사물의 속성을 변수 10개로 만들어 입력받아 출력하세요.

# tip
# 책상 속성: 크기, 무게, 재질, 가격, 색 등

width = input("책상의 가로길이를 입력하세요>> ")
length = input("책상의 세로길이를 입력하세요>> ")
height = input("책상의 높이를 입력하세요>> ")
weight = input("책상의 무게를 입력하세요>> ")
plate_material = input("책상의 상판재질를 입력하세요>> ")
leg_material = input("책상의 다리재질을 입력하세요>> ")
price = input("책상의 가격을 입력하세요>> ")
plate_color = input("책상의 상판 색깔을 입력하세요>> ")
leg_color = input("책상의 다리 색깔을 입력하세요>> ")
number_drawers = input("책상의 서랍단수를 입력하세요>> ")

print("가로 길이 :", width)
print("세로 길이 :", length)
print("높이 :", height)
print("무게 :", weight)
print("상판 재질 :", plate_material)
print("다리 재질 :", leg_material)
print("가격 :", price)
print("상판 색깔 :", plate_color)
print("다리 색깔 :", leg_color)
print("서랍단수 :", number_drawers)

책상의 가로길이를 입력하세요>> 100
책상의 세로길이를 입력하세요>> 60
책상의 높이를 입력하세요>> 120
책상의 무게를 입력하세요>> 10
책상의 상판재질를 입력하세요>> 플라스틱
책상의 다리재질을 입력하세요>> SUS304
책상의 가격을 입력하세요>> 100000
책상의 상판 색깔을 입력하세요>> Green
책상의 다리 색깔을 입력하세요>> Grey
책상의 서랍단수를 입력하세요>> 3
가로 길이 : 100
세로 길이 : 60
높이 : 120
무게 : 10
상판 재질 : 플라스틱
다리 재질 : SUS304
가격 : 100000
상판 색깔 : Green
다리 색깔 : Grey
서랍단수 : 3

## 자료형

### 숫자형

In [ ]:
# 문제 3
# 정수 2개를 변수이름에 대입하고 
# 아래 산술 연산을 각각 수행한 후 결과를 새로운 변수에 대입하세요. 
# 그리고 print()함수로 출력하세요.
num1 = 12
num2 = 3
# 덧셈
add = num1 + num2
# 뺄셈
sub = num1 - num2
# 곱셈
mul = num1 * num2
# 나눗셈
div = num1 / num2
# 몫 연산자
quo = num1 // num2
# 나머지
rest = num1 % num2
# 거듭제곱
power = num1 ** num2
# 행렬 곱셈

# 양수 부호
pos = +num1
# 음수 부호
neg = -num2

print(add, sub, mul, div, quo, rest, power, pos, neg)

15 9 36 4.0 4 0 1728 12 -3

In [ ]:
# 문제 4
# 정수 1개와 실수 1개를 변수이름에 대입하고 
# 아래 산술 연산을 각각 수행한 후 결과를 새로운 변수에 대입하세요. 
# 그리고 print()함수로 출력하세요.

num3 = 12
num4 = 3.2
# 덧셈
add = num3 + num4
# 뺄셈
sub = num3 - num4
# 곱셈
mul = num3 * num4
# 나눗셈
div = num3 / num4
# 몫 연산자
quo = num3 // num4
# 나머지
rest = num3 % num4
# 거듭제곱
power = num3 ** num4
# 행렬 곱셈

# 양수 부호
pos = +num3
# 음수 부호
neg = -num4

print(add, sub, mul, div, quo, rest, power, pos, neg)

15.2 8.8 38.400000000000006 3.75 3.0 2.3999999999999995 2840.403161405767 12 -3.2

#### 복합 대입 연산자
- += : 덧셈 후 할당
- -= : 뺄셈 후 할당
- *= : 곱셈 후 할당
- /= : 나눗셈 후 할당
- //= : 몫 연산자 후 할당
- %= : 나머지 후 할당
- **= : 거듭제곱 후 할당
- @= : 행렬 곱셈 후 할당

In [ ]:
# 문제 5
# 정수 2개를 변수이름에 각각 대입하고 
# 아래 산술 연산자를 이용한 결과를 새로운 변수이름에 대입하세요. 
# 그리고 print()함수로출력하세요.

num5 = 100
num6 = 2

# +=
num5 += num6
print(num5) 
# -=
num5 -= num6
print(num5)
# *=
num5 *= num6
print(num5)
# /=
num5 /= num6
print(num5)
# //=
num5 //= num6
print(num5)
# **=
num5 **= num6
print(num5)
# %=
num5 %= num6
print(num5)
# @=

102
100
200
100.0
50.0
2500.0
0.0

In [ ]:
# 문제 6
# 정수 1개와 실수 1개를 변수이름에 각각 대입하고 
# 아래 산술 연산자를 이용한 결과를 새로운 변수이름에 대입하세요. 
# 그리고 print()함수로 출력하세요.

num7 = 100
num8 = 2.5

# +=
num7 += num8
print(num7)
# -=
num7 -= num8
print(num7)
# *=
num7 *= num8
print(num7)
# /=
num7 /= num8
print(num7)
# //=
num7 //= num8
print(num7)
# **=
num7 **= num8
print(num7)
# %=
num7 %= num8
print(num7)
# @=

102.5
100.0
250.0
100.0
40.0
10119.288512538815
1.7885125388147571

In [ ]:
# 되는 경우

num = 3
num += 10
print(num)

13

In [ ]:
# 안 되는 경우

# num = 3
# print(num +=10)

## 순서도
- 순서도(코드)를 보고 코드(순서도)를 만들 수 있어야 함

- 예제1

![image.png]()

In [ ]:
a = 3
b = 5
add = a + b
mul = a * b
print(add)
print(mul)

8
15

In [ ]:
a = int(input("숫자를 입력하세요>> "))
b = int(input("숫자를 입력하세요>> "))
sub = a - b
print(sub)

숫자를 입력하세요>> 3
숫자를 입력하세요>> 2
1

## 인덱싱

## 문자열 포매팅

### 문자열

In [ ]:
# 서식 지정자 사용해 출력

name = 'james'
print('이름%s.' % name)

이름james.

In [ ]:
# 서식 지정자 사용해 오른쪽 정렬 출력

name = 'james'
print('이름%10s.' % name)

이름     james.

In [ ]:
# 서식 지정자 사용해 왼쪽 정렬 출력

name = 'james'
print('이름%-10s.' % name)

이름james     .

In [ ]:
age = 20
ph_no = '010-1234-5678'
name = '홍길동'
print('이름 %s 나이 %d 휴대폰번호 %s'%(name,age,ph_no))

이름 홍길동 나이 20 휴대폰번호 010-1234-5678

### f-string
- 3.6버전 이상에서 사용 가능
- 중괄호({})를 사용하여 변수를 적어서 사용 가능
- 중괄호({}) 안에서 연산 가능

In [ ]:
integer_num = 11
float_num   = 1.3456
Octal_num   = 0o177
Hexa_num    = 0xFF

print(f"""
정수   :{integer_num :>10}   # > 오른쪽 정렬, 정수 10자리
정수   :{integer_num :>7}     # > 오른쪽 정렬, 정수  7자리
실수   :{float_num   :>10.2f} # > 오른쪽 정렬, 정수 10자리 + 실수 소수점 2자리
실수   :{float_num   :<10.5f} # <   왼쪽 정렬, 정수 10자리 + 실수 소수점 5자리
실수   :{float_num   :^10.2f} # ^ 가운데 정렬, 정수 10자리 + 실수 소수점 2자리
8진수  :{Octal_num   :>10.2f}
16진수 :{Hexa_num    :>10.2f} """)

# {float_num   :>10.2f} : 오른쪽 정렬, 문자열이 출력되는 전체 공간 10칸, 나타내는 소수점 자리수 2자리

정수   :        11   # > 오른쪽 정렬, 정수 10자리
정수   :     11     # > 오른쪽 정렬, 정수  7자리
실수   :      1.35 # > 오른쪽 정렬, 정수 10자리 + 실수 소수점 2자리
실수   :1.34560    # <   왼쪽 정렬, 정수 10자리 + 실수 소수점 5자리
실수   :   1.35    # ^ 가운데 정렬, 정수 10자리 + 실수 소수점 2자리
8진수  :    127.00
16진수 :    255.00

In [ ]:
r = input("반지름을 입력하세요>> ")
type(r)

반지름을 입력하세요>> 3

str

In [ ]:
meter = 3213
km = meter // 1000
m = meter % 1000
print(km)
print(m)

3
213

## 불리언
- 참과 거짓

In [ ]:
# 숫자형
# 0 제외한 숫자는 True

print(bool(1))
print(bool(11))
print(bool(-11))

print(bool(0))
print(bool(0.0))

True
True
True
False
False

In [ ]:
# 문자형
# 값이 있을 때 True

print("Python" == "Python")
print(bool('abc'))
print("Python" == "")
print(bool(""))

True
True
False
False

### 비교 연산자

In [ ]:
# ==, !=, is, is not 비교

print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-34-9f74844e59d1>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1.0)
<ipython-input-34-9f74844e59d1>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not 1.0)

In [ ]:
# 예제

a = 1
b = 2

bot_1 = (a == b)
bot_2 = (a != b)
bot_3 = (a >  b)
bot_4 = (a <  b)
bot_5 = (a >= b)
bot_6 = (a <= b)
bot_7 = (a is b)
bot_8 = (a is not b)
print(bot_1)
print(bot_2)
print(bot_3)
print(bot_4)
print(bot_5)
print(bot_6)
print(bot_7)
print(bot_8)

False
True
False
True
False
True
False
True

### 논리 연산자
- and
- or
- not

In [ ]:
# and
# or
a = 1
b = 2
bot_1 = (a == b)
bot_2 = (a != b)
res1 = (a == b) and (a != b)
res2 = bot_1 and bot_2
res3 = ((False and True) and True) and False

res4 = (a == b) or (a != b)
res5 = bot_1 or bot_2
res6 = False or True

print(res1, res2, res3, res4, res5, res6)

False False False True True True

In [ ]:
print(True and "Python")
print(False and "Python")
print("Python" and True)
print("Python" and False)

Python
False

In [ ]:
minute = int(input("분을 입력하세요>> "))
day = minute // 60 // 24
hour = minute % 1440 // 60
min = minute % 60
print(day, hour, min)

분을 입력하세요>> 2843

23

## 조건문

In [ ]:
if (1==1):
    sentence1
    sentence2
    sentence3
sentence4

In [ ]:
hrs = 30

if hrs >= 40:
    print('보너스를 200%를 지급합니다.')
else:
    print('기본급을 지급합니다.')

print('보너스는 지급 프로세스를 종료합니다.')

기본급을 지급합니다.
보너스는 지급 프로세스를 종료합니다.

In [ ]:
# 입력받은 점수에 따라, 상장과 시상 내역을 출력 가능하게 하세요.

score = int(input("점수를 입력하세요>> "))
if (score >= 90):
    print("금상 : 상장, 도서상품권 20개")
elif (score >= 80):
    print("은상 : 상장, 도서상품권 10개")
elif (score >= 70):
    print("동상 : 상장, 도서상품권 5개")
elif (score >= 60):
    print("장려상")
else:
    print("참가상")
print("시상 지급 완료")

점수를 입력하세요>> 81
은상 : 상장, 도서상품권 10개
시상 지급 완료

In [ ]:
### if ~ if 문 ###

a = 4

if a > 3:
    print('a가 3보다 큽니다!')
if a > 0:
    print('a가 0보다 큽니다!')

# 출력 결과
# a가 3보다 큽니다!
# a가 0보다 큽니다!

a가 3보다 큽니다!
a가 0보다 큽니다!

In [ ]:
### if ~ elif 문 ###

a = 4

if a > 3:
    print('a가 3보다 큽니다!')
elif a > 0:
    print('a가 0보다 큽니다!')

# 출력 결과
# a가 3보다 큽니다!

a가 3보다 큽니다!

- 예제 9 ~ 17

In [ ]:
# 예제9
a = input("숫자를 입력하세요>> ")
b = input("숫자를 입력하세요>> ")
if (a>b):
    print(a)
else:
    print(b)

숫자를 입력하세요>> 3
숫자를 입력하세요>> 2
3

In [ ]:
# 예제10
a = int(input("숫자를 입력하세요>> "))
if (a<0):
    print("음수")
elif (a>0):
    print("양수")
else:
    print("0")

숫자를 입력하세요>> 3
양수

In [ ]:
# 예제11
a = input("숫자를 입력하세요>> ")
b = input("숫자를 입력하세요>> ")
c = input("숫자를 입력하세요>> ")
if (a>b) and (a>c):
    print(a)
elif (a>b) and (a<c):
    print(c)
elif (a<=b) and (b>c):
    print(b)
elif (a<=b) and (b<c):
    print(c)

숫자를 입력하세요>> 3
숫자를 입력하세요>> 2
숫자를 입력하세요>> 4
4

In [ ]:
# 예제12
max = input("숫자를 입력하세요>> ")
a = input("숫자를 입력하세요>> ")
if (a>max):
    max = a
b = input("숫자를 입력하세요>> ")
if (b>max):
    max = b
print(max)

숫자를 입력하세요>> 3
숫자를 입력하세요>> 2
숫자를 입력하세요>> 4
4

In [ ]:
# 예제13
num = int(input("숫자를 입력하세요>> "))
if ((num % 2) == 0):
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요>> 4
짝수

In [ ]:
# 예제14
num = int(input("숫자를 입력하세요>> "))
if (num % 3) == 0:
    print(f"{num}은 3의 배수입니다.")
else:
    print(f"{num}은 3의 배수가 아닙니다.")

숫자를 입력하세요>> 7
7은 3의 배수가 아닙니다.

In [ ]:
# 예제15
fee = 5000
age = int(input("나이를 입력하세요>> "))
if (age < 8):
    print(f"{age}세 아이는 무료로 입장하세요.")
elif (age >= 60):
    print(f"{age}세의 입장료는 {fee * 0.5}원 입니다.")
else:
    print(f"{age}세의 입장료는 {fee}원 입니다.")

나이를 입력하세요>> 7
7세 아이는 무료로 입장하세요.

In [ ]:
# 예제16
num = int(input("숫자를 입력하세요>> "))
if (num % 3 == 0) and (num % 5 == 0):
    print(f"{num}은 3의 배수이면서 5의 배수입니다.")
else:
    print(f"{num}은 3의 배수이면서 5의 배수가 아니다.")

숫자를 입력하세요>> 225
225은 3의 배수이면서 5의 배수입니다.

In [ ]:
# 예제17
age = int(input("숫자를 입력하세요>> "))
if (age<8) or (age>=60):
    print("무료")
else:
    print("5000원")

- 과제 6~11

In [ ]:
# 과제6
num1 = int(input("숫자를 입력하세요>> "))
num2 = int(input("숫자를 입력하세요>> "))
if(num1<num2):
    print(num1)
elif(num1>=num2):
    print(num2)

숫자를 입력하세요>> 2
숫자를 입력하세요>> 2
2

In [ ]:
# 과제7
num1 = int(input("숫자를 입력하세요>> "))
num2 = int(input("숫자를 입력하세요>> "))
if (num1>num2):
    print(num1-num2)
elif (num1<=num2):
    print(num2-num1)

숫자를 입력하세요>> 3
숫자를 입력하세요>> 1
2

In [ ]:
# 과제8
num1 = int(input("숫자를 입력하세요>> "))
num2 = int(input("숫자를 입력하세요>> "))
num3 = int(input("숫자를 입력하세요>> "))
if (num1 > num2):
    num1 = num2
if (num1 > num3):
    num1 = num3
print(num1)

숫자를 입력하세요>> 1
숫자를 입력하세요>> 2
숫자를 입력하세요>> 3
1

In [ ]:
# 과제10
dis = int(input("거리를 입력하세요>> "))
if (dis<5):
    print("1000원")
elif (dis>=10):
    print("3000원")
else:
    print("2000원")

In [ ]:
# 과제11
num = int(input("숫자를 입력하세요>> "))
if (num%5==0) and (num%7==0):
    print(f"{num}은(는) 5의 배수이면서 7의 배수입니다.") 
elif (num%5==0):
    print(f"{num}은(는) 5의 배수입니다.")
elif (num%7==0):
    print(f"{num}은(는) 7의 배수입니다.")
else:
    print(f"{num}은(는) 5의 배수도 아니고 7의 배수도 아닙니다.")

숫자를 입력하세요>> 70
70은(는) 5의 배수입니다.
70은(는) 7의 배수입니다.