<a href="https://colab.research.google.com/github/Yoonseungwook/lms23/blob/main/TEST1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
a = int(input("정수를 입력하시오 : "))
b = int(input("정수를 입력하시오 : "))

if a>b:
  print(a)
elif a<b:
  print(b)
else:
  print(a+b)

정수를 입력하시오 : 3
정수를 입력하시오 : 3
6

# 예제1

In [ ]:
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self): 
    result = self.first / self.second
    return result

# a = FourCal()
# b = FourCal()
a = FourCal(3,8)
print(a.first)
print(a.second)
print(a.add())
print(a.mul())

3
8
11
24

# Python 기초

## 변수란?
- 어떠한 대응 관계로 변화하는 수(변할 수 있는 값)

## 리스트?
- 숫자 또는 문자의 모음을 표현하고 싶을 때 대괄호([])로 감싸주고 각 요소의 값을 쉼표(,)로 구분해 표현

### 인덱싱
- 리스트의 요소 값을 불러오는 것

In [ ]:
a = [1,2,3]
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0]+ a[2]

4

In [ ]:
a[-1]

3

#### 삼중 인덱싱

In [ ]:
a = [1,2, ['a', 'b', ['Life', 'is']]]

a[2][2][0]

'Life'

### 슬라이싱
- 리스트의 요소를 나누어 표현(?)하는 방식

In [ ]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

#### 중첩된 리스트에서 슬라이싱

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

### 리스트 연산

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
# add
print(a+b)
# mul
print(a*3)
# length
len(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

3

In [ ]:
# 리스트 요소 추가
a.append([4,5])

# 리스트 정렬
c = [1,4,3,2]
c.sort()

# 리스트 뒤집기
d = ['a', 'c', 'b']
d.reverse()
d

# 위치 반환
e = [1,2,3]
print(e.index(3))

print(a)
print(b)
print(c)
print(d)

2
[1, 2, 3, [4, 5], [4, 5]]
[4, 5, 6]
[1, 2, 3, 4]
['b', 'c', 'a']

## 출력

In [1]:
print("foo", 42, "bar")

print("foo", 42, "bar", sep="/")

print("foo", 42, "bar", sep="...")

print("foo", 42, "bar", sep="")

foo 42 bar
foo/42/bar
foo...42...bar
foo42bar

In [2]:
print("foo", end="/")
print(42, end="/")
print("bar")

foo/42/bar

### 이스케이프 문자 이해
- 문자 또는 숫자랑 같이 따옴표 안에 표시
- \n : 줄 바꾸기
- \t : 탭
- \enter : 줄 계속
- \\ : \ 기호 표시
- \' 또는 \" : ' 기호 또는 " 기호

### 연습문제

In [3]:
# 연습문제1
# 변수 num에 65를 대입하고 출력하세요

num = 65
print(num)

65

In [4]:
# 연습문제2
# 변수 num을 copy_num1, copy_num2에 대입하세요
copy_num1 = num
copy_num2 = num

In [5]:
# 연습문제3
# 변수 num에 정수 2를 더하고, 변수 res 할당하세요, 그리고 print() 함수로 res 변수의 값을 출력하세요
res = num + 2
print(res)

67

In [7]:
# 연습문제4
# 65, res, sum 을 출력하세요
sum = num + res
print(65)
print(res)
print(sum)

65
67
132

In [8]:
# 연습문제5
# num, res, sum 변수를 print() 함수 1개에 한번에 출력하세요
print(num, res, sum)

65 67 132

In [15]:
# 연습문제6
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting')
print('experience', 'treacherous', 'judgement', 'difficult')

Life is short art long oppertunity fleeting
experience treacherous judgement difficult

In [16]:
# 6.1 [공백 제거]된 상태로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting', sep="")
print('experience', 'treacherous', 'judgement', 'difficult', sep="")

Lifeisshortartlongoppertunityfleeting
experiencetreacherousjudgementdifficult

In [12]:
# 6.2 [줄바꿈 없이] 한 줄로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting', end="")
print('experience', 'treacherous', 'judgement', 'difficult', end="")

Life is short art long oppertunity fleetingexperience treacherous judgement difficult

In [19]:
# 6.3 문장에서 \n을 사용해, 총 5줄로 출력하세요
print('Life', 'is', 'short', 'art', 'long', 'oppertunity', 'fleeting')
print('experience\n', 'treacherous\n', 'judgement\n', 'difficult', sep="")

Life is short art long oppertunity fleeting
experience
treacherous
judgement
difficult

## 입력
- input() 함수 사용

In [27]:
# input() 함수 사용하기

user_input = input()

print("입력 내용: ", user_input)

hello
입력 내용:  hello

In [38]:
number = int(input("Enter a number: "))

print(number + 100)

Enter a number: 123
223

### 연습문제

In [28]:
# 문제1
# phone_no 변수에 핸드폰 번호를 입력받아 출력하세요.

# tip
# fname = input("핸드폰 번호를 입력 하세요>> ")

phone_no = input("핸드폰 번호를 입력하세요>> ")
print("핸드폰 번호:", phone_no)

핸드폰 번호를 입력하세요>> 01012345678
핸드폰 번호: 01012345678

In [33]:
name = input("이름을 입력해주세요. >> ")

print("이름:", name)

이름을 입력해주세요. >> 홍길동
이름: 홍길동

In [35]:
# 문제2
# 사람의 특징을 변수 10개로 입력받아 출력하세요

# tip
# 이름, 성, 생일, 고향, 전화번호, 혈액형, 키, 몸무게, 국적, mbti, 
# 배고픔 상태, 현재 기분, 최대 체력, 최대 의지, 필요 집중력, 열정 정도
# fname = input("이름을 입력하세요>> ")

first_name = input("이름을 입력하세요>> ")
last_name = input("성을 입력하세요>> ")
birth = input("생일을 입력하세요>> ")
hometown = input("고향을 입력하세요>> ")
phone = input("전화번호를 입력하세요>> ")
blood_type = input("혈액형을 입력하세요>> ")
height = input("키를 입력하세요>> ")
weight = input("몸무게를 입력하세요>> ")
nationality = input("국적을 입력하세요>> ")
mbti = input("mbti를 입력하세요>> ")

print("이름:", first_name)
print("성:", last_name)
print("생일:", birth)
print("고향:", hometown)
print("전화번호:", phone)
print("혈액형:", blood_type)
print("키:", height)
print("몸무게:", weight)
print("국적:", nationality)
print("mbti:", mbti)

이름을 입력하세요>> 길동
성을 입력하세요>> 홍
생일을 입력하세요>> 230602
고향을 입력하세요>> 광주
전화번호를 입력하세요>> 01012345678
혈액형을 입력하세요>> A
키를 입력하세요>> 170
몸무게를 입력하세요>> 70
국적을 입력하세요>> 대한민국
mbti를 입력하세요>> ISFP
이름: 길동
성: 홍
생일: 230602
고향: 광주
전화번호: 01012345678
혈액형: A
키: 170
몸무게: 70
국적: 대한민국
mbti: ISFP

In [39]:
# 문제3
# 프로그래밍은 "현실의 어떤 대상"을 소스 코드로 구현하는 것이다.
# 주위 사물의 속성을 변수 10개로 만들어 입력받아 출력하세요.

# tip
# 책상 속성: 크기, 무게, 재질, 가격, 색 등

width = input("책상의 가로길이를 입력하세요>> ")
length = input("책상의 세로길이를 입력하세요>> ")
height = input("책상의 높이를 입력하세요>> ")
weight = input("책상의 무게를 입력하세요>> ")
plate_material = input("책상의 상판재질를 입력하세요>> ")
leg_material = input("책상의 다리재질을 입력하세요>> ")
price = input("책상의 가격을 입력하세요>> ")
plate_color = input("책상의 상판 색깔을 입력하세요>> ")
leg_color = input("책상의 다리 색깔을 입력하세요>> ")
number_drawers = input("책상의 서랍단수를 입력하세요>> ")

print("가로 길이 :", width)
print("세로 길이 :", length)
print("높이 :", height)
print("무게 :", weight)
print("상판 재질 :", plate_material)
print("다리 재질 :", leg_material)
print("가격 :", price)
print("상판 색깔 :", plate_color)
print("다리 색깔 :", leg_color)
print("서랍단수 :", number_drawers)

책상의 가로길이를 입력하세요>> 100
책상의 세로길이를 입력하세요>> 60
책상의 높이를 입력하세요>> 120
책상의 무게를 입력하세요>> 10
책상의 상판재질를 입력하세요>> 플라스틱
책상의 다리재질을 입력하세요>> SUS304
책상의 가격을 입력하세요>> 100000
책상의 상판 색깔을 입력하세요>> Green
책상의 다리 색깔을 입력하세요>> Grey
책상의 서랍단수를 입력하세요>> 3
가로 길이 : 100
세로 길이 : 60
높이 : 120
무게 : 10
상판 재질 : 플라스틱
다리 재질 : SUS304
가격 : 100000
상판 색깔 : Green
다리 색깔 : Grey
서랍단수 : 3